<!DOCTYPE html>
<html lang="en">
<html> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <main>
        <div class="container">
            <div class="header">
                <h1>Personal Blog</h1>
                <button id="admin" onclick="window.location.href='/admin'">Log In</button>
            </div>
            <section id="titles">
                <div class="title">
                    <h2>Articles</h2>
                    {% for title, filename in articles.titles %}
                        <p><a href="articles/{{ filename }}">{{ title }}</a></p>
                    {% endfor %}
                </div>
                <div class="date">
                    <h2>Publishing Dates</h2>
                    {% for dates in articles.date %}
                        <p>{{ dates }}</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
</body>
</html>